* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --india-pos: 20%;
  }
  
  body {
    background: url("../asian-games.png"), linear-gradient(-45deg, #affaff, #195dcb);
    /* background: url("./asian-games.png"), linear-gradient(-45deg, #c67edb, #cb196c); */
    height: 100vh;
    font-family: arial;
    background-size: 100% 100%;
  }
  
  .india {
    position: fixed;
    left: 50%;
    top: calc(50% - var(--india-pos));
    transform: translateX(-50%);
    z-index: 2;
    font-size: 3em;
    font-weight: 900;
    color: white;
  }
  
  .india::before {
    content: "";
    position: absolute;
    left: 0;
    width: .3em;
    background: linear-gradient(#ffa500, white, green);
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .container {
    display: flex;
    gap: .3rem;
    align-items: flex-end;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .container > div {
    background: #ddd;
    width: 80pt;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 2.5em;
    font-weight: 900;
    position: relative;
  }
  
  .container div:nth-child(1) {
    height: 60pt;
  }
  
  .container div:nth-child(2) {
    top: 5pt;
    height: 80pt;
  }
  
  .container div::before {
    --height: .8rem;
    content: "";
    position: absolute;
    display: block;
    height: var(--height);
    background: red;
    top: calc(-1 * (var(--height) + .3rem));
    width: 100%;
  }
  
  .container div:nth-child(1)::before {
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    background: silver;
  }
  
  .container div:nth-child(2)::before {
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
    background: #ffe600;
  }
  
  .container div:nth-child(3)::before {
    background: #d58746;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
  }
  
  .asian-games {
    font-size: 4em;
    font-weight: 900;
    color: white;
    text-align: center;
  }
  
  .cricket {
    position: fixed;
    width: 4em;
    height: 8rem;
    z-index: 999;
    position: fixed;
    top: 80%;
    left: 20%;
  }
  
  .cricket > .bat {
    height: 100%;
    width: 4em;
    background: #fff;
    clip-path: polygon(0% 99%, 0% 35%, 10% 28%, 8% 0%, 17% 0%, 17% 27%, 27% 34%, 26% 99%);
    transform: rotate(30deg);
    background: #f1904a;
    transform-origin: top top;
  }
  
  .cricket > .ball {
    height: 1em;
    width: 1em;
    background: white;
    border-radius: 100%;
  }
  
  .dumbell {
    height: 10pt;
    width: 6rem;
    background: black;
    position: relative;
    left :10pt;
  }
  
  .dumbell::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background: #8d8989;
    height: 30pt;
    width: 10pt;
    border-radius: 50%;
  }
  
  .dumbell::after {
    content: "";
    position: absolute;
    right: 0;
    transform: translate(50%, -40%);
    background: #8d8989;
    height: 30pt;
    width: 10pt;
    border-radius: 50%;
  }
  
  .tt {
    position: fixed;
    top: 80%;
    left: 80%;
  
  }
  
  .tt > .c {
    height: 60pt;
    width: 50pt;
    border-radius: 50%;
    background: #f72222;
  }
  
  .tt > .b {
    height: 50pt;
    width: 10pt;
    background: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: -1;
  }
  
  
  .jav {
    height: 30pt;
    width: 200pt;
    position: fixed;
    top: 20%;
    right: 10pt;
    display: flex;
    transform: rotate(30deg);
  }
  
  .jav > * {
    height: 10pt;
  }
  
  .jav > .head {
    width: 20px;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    background: white;
  }
  
  .jav > .body {
    flex-grow: 1;
    background: white;
  }
  
  .wish {
    position: fixed;
    top: 60%;
    text-align: center;
    width: 100%;
    font-size: 3em;
    font-style: italic;
    font-weight: 900;
  }